.title {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: $title-color;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: $text-color;
        text-align: left;
    }
    &_catalog {
        font-weight: 400;
    }
    &_feed {
        font-size: 30px;
    }
}
